/* Space out content a bit */
@font-face {
    font-family: 'frutigerltstd';
    src: url('../fonts/frutigerltstd.eot');
    src: url('../fonts/frutigerltstd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd.ttf') format('truetype'),
         url('../fonts/frutigerltstd.svg#frutigerltstd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutratext';
    src: url('../fonts/neutratext.eot');
    src: url('../fonts/neutratext.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutratext.ttf') format('truetype'),
         url('../fonts/neutratext.svg#neutratext') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Space out content a bit */
body {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#EFEDE1;

}

.table {
    width: 100%;
    margin-top: 5px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.validation-summary-errors
{
    color: #9b1d2d;
    font-weight:bold;
    text-align:center;
    align-content:center;
}
/* Custom page header */
.header {
    padding-bottom: 10px;

}
.texto
{
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.textoRef
{
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding-top:10px;
}
.textoRes {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding-top: 10px;
}
.textoResHeader {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}
.btn-info {
color: #fff;
background-color: #677b38;
border-color: #677b38;
font-weight:bold;
}

.btn-info:hover, .btn-info:focus, .btn-info:active{
color: #fff;
background-color: #677b38;
border-color: #677b38;
font-weight:bold;
}

.btn-default {
color: #fff;
background-color: #999;
border-color: #999;
font-weight:bold;
}

.btn-default:hover, .btn-default:focus, .btn-default:active{
color: #fff;
background-color: #999;
border-color: #999;
font-weight:bold;
}

.btn-reenviar {
color: #fff;
background-color: rgb(117, 40, 135);
border-color: rgb(117, 40, 135);
font-weight:bold;
}

.btn-reenviar:hover, .btn-reenviar:focus, .btn-reenviar:active{
color: #fff;
background-color: rgb(117, 40, 135);
border-color:rgb(117, 40, 135);
font-weight:bold;
}

.btn-avalia {
color: #fff;
background-color: #f2b408;
border-color: #f2b408;
font-weight:bold;
}

.btn-avalia:hover, .btn-avalia:focus, .btn-avalia:active{
color: #fff;
background-color: #f2b408;
border-color: #f2b408;
font-weight:bold;
}

.btn-cancelar {
color: #fff;
background-color: #00a3e8;
border-color: #00a3e8;
font-weight:bold;
}

.btn-cancelar:hover, .btn-cancelar:focus, .btn-cancelar:active{
color: #fff;
background-color: #00a3e8;
border-color: #00a3e8;
font-weight:bold;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.jumbotitle, .lead
{
    color:#19398a;
}
/* Customize container */
.container {
    max-width: 3000px;
}
.k-link:link, .k-link:visited,.k-link:hover, .k-nav-current .k-state-hover .k-link
{
 color: rgb(117, 40, 135);
}
.k-link:hover
{
 color: rgb(117, 40, 135);
}
.i-link:link, .i-link:visited,.i-link:hover, .i-nav-current .i-state-hover .i-link
{
 color: rgb(255, 0, 0);
}
.i-link:hover
{
color: rgb(255, 0, 0);
}
.i-link
{
color: rgb(255, 0, 0);
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 5px;
}
.s-link:link, .s-link:visited,.s-link:hover, .s-nav-current .s-state-hover .s-link
{
 color: #3c763d;
}
.s-link:hover
{
color: #3c763d;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover, a:focus {
    color: #752887;
    text-decoration: none;
}
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 30px;
    background-color:rgba(0, 0, 0, 0.075);
}
.jumbotron th {
    text-align: center;
}
.mijumbotron {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size:15px;
    background-color:#ccc;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    text-align: right;
    border-radius: 20px;
    max-width: 100%;
    min-height:50px;
    color:#333;

}

.grid-row
{
    font-size:12px;
}
.mijumbotron a
{
    color:#333;
}
.mijumbotron a:hover
{
    color:#999;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
h1, h2, h3, h4{
    font-family: 'frutigerltstd';
    color: #752887;
}
.navbar-sems{
    font-family: "frutigerltstd";
    font-size:14px;
	-webkit-transition: color 0.25s ease-out;
     -moz-transition: color 0.25s ease-out;
       -o-transition: color 0.25s ease-out;
          transition: color 0.25s ease-out;
}
.navbar-default .navbar-nav > li > a {
     font-family: "frutigerltstd";
    font-size: 18px;
	-webkit-transition: color 0.25s ease-out;
     -moz-transition: color 0.25s ease-out;
       -o-transition: color 0.25s ease-out;
          transition: color 0.25s ease-out;
        color: #fff;
}

.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 15px;
}
.navbar-nav > li > a {
padding-top: 10px;
padding-bottom: 10px;
line-height: 20px;
}
.nav > li > a {
position: relative;
display: block;
padding: 15px 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #d6d8dd;
}

.navbar-default .navbar-nav > li > a:active {
    color: #fff;
    background-color: #d6d8dd;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {

background-color: #777;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
     font-family: "frutigerltstd";
    font-size: 14px;
color: #fff;
text-decoration: none;
background-color: rgba(0, 0, 0, .075);

}

.dropdown-menu > li > a {

display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #ffffff;
white-space: nowrap;
 font-family: "frutigerltstd";
    font-size: 14px;
	-webkit-transition: color 0.25s ease-out;
     -moz-transition: color 0.25s ease-out;
       -o-transition: color 0.25s ease-out;
          transition: color 0.25s ease-out;
}
.dropdown-menu {
    background-color: #333;
    border-color: #666;
    color: #ffffff;
    font-family: "frutigerltstd";
}
.navbar-inverse {
background-color: #ff0000;
border-color: #ff0000;
color: #ffffff;
   font-family: "frutigerltstd";
}
.navbar-inverse .navbar-brand {
font-family: "frutigerltstd";
color: #fff;
max-height:50px;
}
.navbar-inverse .navbar-nav > li > a {
color: #fff;
margin: 3px 2px;
}
.nav .open > a:focus {
  background-color: rgba(0, 0, 0, .075);
  border-color: #428bca;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
     background-color: rgba(0, 0, 0, .075);
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  color: #fff;
     background-color: rgba(0, 0, 0, .075);
}
input[type=text]
{
    max-width:10px;

}
input[type=file]
{
    color:#555;
    margin:2px 5px;
    min-height: 32px;
    padding: 6px 12px;
    height:25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:14px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=date],
input[type=text],
select
{
    max-width: 200px;
    min-width:200px;
    color:#555;
    margin:3px 0px;
    min-height: 32px;
    padding: 6px 6px;
    height:25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea
{
    color:#555;
    margin:3px 0px;
    min-height: 32px;
    padding: 6px 6px;
    height:25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:10px;


  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.breadcrumb {
    padding: 10px 10px;
    margin: 0px;
    list-style: none;
    background-color: rgba(0, 0, 0, .075);
    color:#333;
    font: 14px "frutigerltstd", "arial";
    border-radius: 4px;
    min-height: 20px;
}

hr{
    border-top: 1px solid #999;
}
.linkheader .labelheader
{
   color: #19398a;
   font-weight:bold;

}
.linktitle
{
   color: #19398a;
   font-weight:bold;

}
.buttontitle
{
   font: 18px "lucida sans unicode", "lucida grande", sans-serif;
   color: #fff;
   border:none;
   background-color:#357ebd;
   font-weight:bold;
   padding:2px;
   border-radius: 6px;
   max-width: 100%;
   min-height:30px;
   min-width:100px;
   padding: 4px;
   margin-top:5px;
   margin-right:15px;
}
.col-concept-grid
{
     font-weight:normal;
     color:#19398a;
     text-align:left;
}
.col-title-grid
{
     font-weight:bold;
     color:#19398a;
}
.buttontitle[disabled]
{
   font: 18px "lucida sans unicode", "lucida grande", sans-serif;
   color: rgba(255, 255, 255, .5);
   border:none;
   background-color:#555;
   font-weight:bold;
   padding:2px;
   border-radius: 6px;
   max-width: 100%;
   min-height:30px;
   min-width:100px;
   padding: 4px;
   margin-top:5px;
   margin-right:15px;
}
.buttonsim
{
   font: 16px "lucida sans unicode", "lucida grande", sans-serif;
   color: #fff;
   border:none;
   background-color:#9b1d2d;
   font-weight:bold;
   padding:8px;
   border-radius: 6px;
   max-width: 100%;
   min-height:30px;
   min-width:100px;
   margin-top:5px;
}

.tooltip{
    font: 12px "frutigerltstd", "arial";
    color: #494949;
    background-color: transparent;
}
select:focus,
textarea:focus {
  border-color: #66afe9;
   font-size:10px;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input[type="checkbox"] {
line-height: normal;
margin-top:10px;
margin-left:10px;
}
input[type="radio"] {
line-height: normal;
}
input[type=text]:disabled,
select:disabled,
textarea:disabled {
  border-color: rgba(0, 0, 0, .075);
  color: #999;
   font-size:10px;

}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin: 20px 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.sems-section-title{
    color:#19398A;
    font-weight: bolder;
    margin-bottom: 45px;
}

.border-left{
    border-left: 1px solid #eee;
}

.footer{
    margin-top: 50px;
}

.tab-pane{
    padding-top: 30px;
}



.colortick {
    color:#4CC639;
}

.coloraspa {
    color:#EB2C2C;
}

.mostrado {
    visibility:visible;
}

.oculto {
    visibility:hidden;
}

.margentop {
     margin-top: 20px;
}
.margentoppoco {
     margin-top: 23px;
}
.margentop3 {
     margin-top: 36px;
}
.texto-dcha {
    text-align:right;
}
.container-fluid {
  padding-right: 30px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.hideText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-menu > li {
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}



.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}



@keyframes stretchdelay
{
  0%, 40%, 100% {

    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
 {	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	border-left: 5px solid #ffaf46;
}
.left-caret:after
{	border-right: 5px solid #ffaf46;
}
#searchclear {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.customClassUp {
    background-image: url(../Images/up.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
}
.customClassDown
{
    background-image: url(../Images/down.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
}


.customClassEqual
{
    background-image: url(../Images/equal.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
}


.customClassNaranja
{
    background-color: #ffc99b;
    background-image: url(../Images/s-orange.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 20px 20px;
}










.customClassAzul
{
       background-color: #d2e4de;
       font-weight: bold;
}
.customClassGris
{
       background-color: #ddd;
       font-weight: bold;
}
.customClassOscuro
{
       background-color: #262626;
       font-weight: bold;
}
/*.customClassTransparente
{
       background-color: #ffffff;
       color: #ffffff;
}
.customClassTransparente::selection
{
       background-color: #ffffff;
       color: #ffffff;
}*/
.scrollup
{
        width:40px;
        height:40px;
        opacity:0.3;
        position:fixed;
        bottom:50px;
        right:10px;
        display:none;           /* Estara oculto por defecto */
        text-indent:-9999px;    /* Oculta el texto del enlace */
        z-index: 1000;          /* Evita que otros elementos esten por encima */
        background: url('/Images/icon_top.png') no-repeat;
    }
/* Estilo para generar un efecto al posicionar el puntero encima del botón */
.scrollup:hover
{
        opacity: 0.8;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all;
}
.container-fluid {
  padding-right: 30px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.k-grid-header th.k-header>.k-link {
  display: block;
  min-height: 18px;
  line-height: 18px;
  margin: -0.5em -0.6em -0.4em -0.6em;
  padding: .5em .6em .4em .6em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:13px;
}
/* Estilos Niveles Menus Bootstrap*/
.dropdown-menu>li
{
     font-family: "frutigerltstd";
    font-size: 16px;
	-webkit-transition: color 0.25s ease-out;
     -moz-transition: color 0.25s ease-out;
       -o-transition: color 0.25s ease-out;
          transition: color 0.25s ease-out; position:relative;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after
 {	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid blue;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.left-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid blue;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

 .ui-datepicker-calendar
 {
        display: none;
 }

 .modal-dialog {
    width: 50%; /* respsonsive width */
}

 #BADGE PONT AWESOME

.icon-wrapper{
    position:relative;
    float:left;
}

*.icon-blue {color: #333}
*.icon-grey {color: #AAA}
i {
    text-align:center;
    vertical-align:middle;
}
.badge{
    background: rgba(25,57,138,0.7);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:3px;
    right:5px;
    padding:5px;
}

 #ESTILOS INFORMES ACCESOS

.TableTitleRow { background-color: #C8D6E5; font-weight: bold; text-align: center; }
.TableTitle { font-weight: bold; text-align: center; font-size: 13px; }
.TableRow1 { background-color: #FFFFFF; }
.TableRow2 { background-color: #EEEEEE; }
.TableSolidRow { font-weight: bold; background-color: #FF0000; }
.TableSummaryRow { font-weight: bold; background-color: #E2B6B6; }
.TableCell { padding-left: 5px; padding-right: 5px; line-height: 14px }
.TableChartBarCell { padding-left: 3px; padding-right: 3px; }
.TableChartBar { height: 12px; background-color: #5179D6; }
.ReportTitle { font-weight: bold; font-size: 17px; }
.CategoryTitle { font-weight: bold; font-size: 17px; }
.SinglePageCategoryTitle { font-weight: bold; font-size: 17px; }
.ChartTitle { font-weight: bold; text-align: center; font-size: 13px; }
.SectionTitle { font-weight: bold; text-align: center; font-size: 13px; background-color: #FF0000; color: #FFFFFF; }
.TOC { background-image: url(contents_back.gif); background-repeat: repeat-x; }
.TranslatedContentsTitle { color: #333333; font-weight: bold; font-size: 15px; }
.Information { font-weight: bold; text-align: center; font-size: 13px; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

/*SPINNER PARA DENTRO DE LOS BOTONES*/
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.glyphicon-left {
    margin-right: 7px;
}

.customClassVerde {
    background-color: #ceefce !important;
    /*background-image: url(../Images/s-green.png);*/
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 20px 20px;
}
.customClassRoja
{
    background-color: #e2b6b6 !important;
    /*background-image: url(../Images/s-red.png);*/
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 20px 20px;
}

.customClassNaranja
{
    background-color: #ffc99b !important;
    /*background-image: url(../Images/s-orange.png);*/
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 20px 20px;
}


.customClassAzul {
    background-color: #d2e4de !important;
    font-weight: bold;
}
.customClassGris
{
       background-color: #ddd !important;
       font-weight: bold;
}
.customClassOscuro
{
       background-color: #262626 !important;
       font-weight: bold;
}

.scrollup
{
        width:40px;
        height:40px;
        opacity:0.3;
        position:fixed;
        bottom:50px;
        right:10px;
        display:none;           /* Estara oculto por defecto */
        text-indent:-9999px;    /* Oculta el texto del enlace */
        z-index: 1000;          /* Evita que otros elementos esten por encima */
        background: url('../Images/icon_top.png') no-repeat;
    }
/* Estilo para generar un efecto al posicionar el puntero encima del botón */
.scrollup:hover
{
        opacity: 0.8;

        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all;
}
.panel {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);



}


.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}




.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}


.panel-title {
   font-family: 'frutigerltstd',  Arial;
  font-size: 18px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: #19398a;
  font-weight: bold;
}














.panel-title > a {
  color: inherit;
}







.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}










.panel > .list-group {
  margin-bottom: 0;
}




.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
























.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-top: 10px;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
    color: #333333;
    background-color: #999;
    border-color: #dddddd;

}
.panel-default > .panel-heading {
    color: rgb(117, 40, 135);
    background-color: #e6e4d8;
    border-color: #e6e4d8;
        border-bottom-color: rgb(221, 221, 221);
    padding:2px 15px;
}
.panel-default > .panel-heading .badge .a:link .a:visited .a:hover{
  color: #f5f5f5;
  background-color: #333;
  text-decoration: none;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #FF0000;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #FF0000;
  border-color: #FF0000;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FF0000;
}
.panel-primary > .panel-heading .badge {
  color: #FF0000;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FF0000;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.k-grid-save-changes
{
    float:right;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom:10.5px;
    font-size:11px;
}

.form-horizontal .form-group {
    margin: 0px;

}

/* Grid headers */
table.grid-table .grid-header > .grid-header-title {
    width: 100%;
    margin-right: 5px;
    color: black !important;
    font-size: 12px;
    text-align: center !important;
}

.grid-cell {
    padding: 3px !important;
    text-align:center;
}

/*td.grid-cell{
    background-color: transparent !important;
}*/

tr.grid-row.textoCell {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    padding-top: 10px;
    color: black;
}

tr.grid-row.textoCellR {
    font-weight: bold;
    font-size: 10px;
    background-color: rgb(255, 0, 0) !important;
    color: white;
}

tr.grid-row.textoCellH {
    font-weight: bold !important;
    font-size: 10px;
    color: black;
}

tr.grid-row.textoCellG {
    font-weight: bold !important;
    background-color: #ccc;
    font-size: 10px;
    color: black;
}

tr.grid-row.textoCellA {
    font-weight: bold !important;
    background-color: #f5e963 !important;
    font-size: 10px;
    color: black;
}

th.grid-header {
    padding: 3px !important;
}

th.grid-header.colGris {
    background-color: #999 !important;
}

/*.grid-cell.colGris {
    background-color: #999 !important;
    color: white;
}*/
th.grid-header.colGrisT {
    background-color: #c4c1c1 !important;
    color: black !important;
}
th.grid-header.colGrisB {
    background-color: transparent !important;
    color: #000 !important;
}
th.grid-header.colGrisGC {
    background-color: #c4c1c1 !important;
    color: #fff !important;
}
th.grid-header.colRoja {
    background-color: red !important;
    color: #fff !important;
}
/*.grid-cell.colGrisT {
    background-color: #e6e4d8 !important;
    color: black;
}*/
/*.grid-cell.colGrisTR {
    background-color: #f5e963 !important;
    color: red;
}*/
/*.grid-cell.colGrisTA {
    background-color: #f5e963 !important;
    color: black;
}
.grid-cell.colGrisTR {
    background-color: red !important;
    color: black;
}*/

.filaImpar {
    background-color: #e6e4d8;
}

.filaPar
{
    background-color:#eeece7;
}

.filaTotal
{
    background-color: #939292;
    font-weight:bold;
    text-align:center;
}
.filaHeader {
    background-color: rgb(255, 0, 0);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-bottom: 0px !important;
    padding-top: 2px !important;
    border: 2px;
    border-color: #ffffff
}
.filaTitle {
    background-color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.filaTotal {
    background-color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.filaGroup {
    background-color: #c4c1c1;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #111111;
    padding-bottom: 0px !important;
    padding-top: 3px !important;
}

.control-label
{
    text-align: left;
}
.navbar-getnet {
  background-color: #999;
  border-color: #999;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-text-getnet {
  font-size: large;
  text-align: center;
  color: white;
}

.faArrowIcon:before {
    position: relative;
    color: #752887;
    font-family: FontAwesome;
    top: 0;
    left: -5px;
    padding-right: 10px;
    content: "\f146";
}

.faArrowIcon.collapsed:before {
    position: relative;
    color: #752887;
    font-family: FontAwesome;
    top: 0;
    left: -5px;
    padding-right: 10px;
    content: "\f0fe";
}

.row {
    margin: 1px 1px;

}

.form-horizontal .control-label {
    text-align: left;
}

.form-control:-moz-placeholder {
    color: #999999;
}

.form-control::-moz-placeholder {
    color: #999999;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

.glow {
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ff0000;
    background-color:#e6a6a6 ;
}

.glow:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ff0000;
}

.redValue {
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ff0000;
    background-color: #e6a6a6 !important;
    color: black !important;
}

.redValue:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ff0000;
}

.greenValue {
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #c4ed9c;
    box-shadow: 0 0 10px #ff0000;
    background-color: #b7e6a7 !important;
    color: black !important;
}

.correctValue:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #ff0000;
}

.text-danger {
    color: #b94a48;
    font-size: 11px;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.textAreaFont10px {
    font-size: 10px !important;
}

.daterangepicker {
  background-color:#efede1;
  color:#000;
}

.daterangepicker .ranges li {
  color:#000;
}

.daterangepicker .ranges li.active {
  background-color: #e69c9c;
  border: 1px solid red;
}

#stateDate, #initDate{
  background-color: #fff;
}

.daterangepicker .ranges li:hover {
  background-color: #e69c9c;
  border: 1px solid red;
}

#filtersExport{
  display: none;
}

.daterangepicker td.in-range{
  background-color: #dbc1c1;
}


.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: #e69c9c;
  color:black;
}

#divCnpj{
  max-height: 100px;
  overflow-y: scroll;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.animationload {
    background-color: rgba(0, 0, 0, 0.00);
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

    .osahanloading::after {
        animation: 1.5s linear 0s normal none infinite running osahanloading_after;
        border-color: #85d6de transparent;
        border-radius: 80px;
        border-style: solid;
        border-width: 10px;
        content: "";
        height: 80px;
        left: -15px;
        position: absolute;
        top: -15px;
        width: 80px;
    }

.lastAccepted{
  background-color: rgba(103,123,56,0.35) !important;
}

.notLastAccepted:nth-child(odd){
  background-color: #f9f9f9 !important;
}
.gridSimul{
    background-color: transparent !important;
    vertical-align: middle !important;
}

@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#searchTipo{
  min-width: 100px !important;
  max-width: 100px !important;
}

.labelErrorTaxas {
    min-height:25px;
    text-align: center;
}

.hora {
    min-width: 0px !important;
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}
.titleCell {
    max-width:20%
}
.groupColumnResumoHeader {
    min-width: 110px;
    max-width: 110px;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    width: 110px;
    display: table-cell;
    text-align: center;
    border-right: 1px solid black;
    font-size:12px;
}
.singleColumnResumo {
    background-color: white !important;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    display: table-cell;
    text-align: center;
    border-right: 1px solid black;
    font-size: 12px;
}
.totalColumnResumo {
    background-color: rgb(90,90,90);
    color: white !important;
    min-width: 110px;
    max-width: 110px;
    width: 110px;
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    display: table-cell;
    text-align: center;
    border-right: 1px solid black;
    font-size: 12px;
}
.totalColumnResumoBody {
    background-color: rgb(90,90,90);
    color: white !important;
    font-weight: normal;
    min-width: 110px;
    max-width: 110px;
    width: 110px;
    display: table-cell;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid black;
}
.resumoRowHeaderCell {
    display: table-cell;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: red;
    border-right: 1px solid black;
    font-size:11px;
    min-width: 100px;
    max-width: 100px;
    width:100px;
}

.resumoRowHeaderCellGroup {
    display: table-cell;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: red;
    border-right: 1px solid black;
    font-size: 11px;
    min-width: 110px;
    max-width: 110px;
    width: 110px;
}


.resumoHeaderRowCell {
    display: table-cell;
    color: white;
    font-weight: bold;
    background-color: red;
    border-right: 1px solid black;
    font-size:13px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}
.groupColumnResumoBody {
    min-width: 110px;
    max-width: 110px;
    width: 110px;
    display: table-cell;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid black;
}
.singleColumnResumoBody {
    background-color: white !important;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid black;
}
.singleColumnResumoBodyHeader {
    background-color: white !important;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    display: table-cell;
    border-right: 1px solid black;
    font-size:12px;
}
.ResumoRowHeader {
    font-weight: bold;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    display: table-cell;
    background-color: white;
    border-right: 1px solid black;
}
.ResumoRowChild {
    font-weight: normal !important;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    display: table-cell;
    background-color: white;
    border-right: 1px solid black;
}
.titleResumoRow {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    display: table-cell;
    text-align: center;
    background-color: white;
    border-right: 1px solid black;
    font-size:13px;
}

.ResumoTable {
    display:table;
    table-layout:fixed;
}

.ResumoTable tbody {
    display: block;
    overflow-x: hidden;
    height: 600px;
    width: 100%;
}

.ResumoTable thead tr {
    display: block;
}

.tabResumo {
    overflow-x:scroll;
    margin-top:50px;
}
.SimulacaoMenu {
    background-color: #EFEDE1;
    position: fixed;
    top: 58px;
    right: 25px;
    left: 25px;
    border-width: 0 0 1px;
    font-family: "frutigerltstd";
    color: #ffffff;
    border-color: black;
    z-index: 1;
}
.premissasMotor {
    max-width:150px !important;
    min-width: 100px !important;
    color: #555 !important;
}
.QtdeMotor {
    max-width: 60px !important;
    min-width: 60px !important;
}
.ShareMotor {
    max-width: 80px !important;
    min-width: 80px !important;
}
.simNaoSelector {
    max-width: 70px !important;
    min-width: 70px !important;
    padding-left: 5px !important;
}
.labelNotMargin {
    margin-bottom: 0px !important
}
.panelHeaderResultadoSimulacao {
    background-color: rgb(255, 0, 0) !important;
}
.panelHeaderResultadoSimulacaoText {
    color: white;
    font-weight: bold;
    text-align:center;
}
.resultadoInput {
    min-width: 70px !important;
    max-width: 120px !important;
    color: #555 !important;
}
@media(min-width:992px) {
    .mycontent-right {
        border-right: 1px dashed #333;
    }
}

.taxasInput {
    color: #555 !important;
}

.indexJumbo {
    padding-left:150px;
    padding-right: 150px;
    text-align:center;
}

.indexButton {
    padding: 50px;
    display: inline-block;
    float:none;
    max-width: 350px;
}

.notFormLabelSize {
    font-size:11px
}

.taxaField {
    min-width:80px !important;
    max-width:90px !important;
}

.index2 {
    z-index:2;
}

.custoSegmentoPct {
    min-width: 100px !important;
    max-width: 100px !important;
}

.custoSegmento {
    min-width: 160px !important;
    max-width: 160px !important;
}

.perfil {
    min-width: 100px !important;
    max-width: 100px !important;
}

.imposto {
    min-width: 100px !important;
    max-width: 100px !important;
}

.textNoForm {
    margin-top:7px;
    font-weight: normal;
}

.custom-file-upload-container{
    padding-top:15px;
    padding-bottom:15px;
}

.arquivo {
  display: none !important;
}

.file {
  line-height: 30px;
  height: 30px;
  border: 1px solid #A7A7A7;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  vertical-align: middle;
  width: 300px;
}

