#cy{
    width: 100%;
    height: 100px;
}

.color-graph{
  color:red;
}

.node-graph{
  
}

.qtip-default{
	border-width: 1px !important; 
    border-style: solid !important;
    border-color:  rgb(241, 73, 73) !important;
    background-color: rgba(241, 73, 73, .2) !important;
    color: #000 !important;
}